<form action="/create_dish_has_ingredient_from_ingredient" method="post">

  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @dish_has_ingredient.dish_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="ingredient_id" value="<%= @ingredient.id %>">

  <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

    <input type="text" id="quantity" name="quantity" class="form-control" value="<%= @dish_has_ingredient.quantity %>">
  </div>

  <div class="form-group">
    <label for="dish_ingredient_unit">
      Dish ingredient unit
    </label>

    <textarea id="dish_ingredient_unit" name="dish_ingredient_unit" class="form-control" rows="3"><%= @dish_has_ingredient.dish_ingredient_unit %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create dish has ingredient
  </button>
</form>
