<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bills

    <a data-toggle="collapse" href="#user_bills_new_form">
      Add bill
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.bills.each do |bill| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/bills/<%= bill.id %>">
          <%= bill.created_at %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
